$colors: (back: #d4d4d4d4,
  button-text: white,
  backgroundInstruction: #c4c4c4,
  backgroundCraft: #fff,
  modHover: rgb(125, 158, 156),
  modActive: rgb(136, 136, 136));

//_______________________________________________________________________________________________________//

//Functions
@function colors($color-name) {
  @return map-get($colors, $color-name);
}

//_______________________________________________________________________________________________________//

//Globale classes
.button {
  display: flex;
  border-top: 3px solid rgba(255, 255, 255, 0.66);
  border-left: 3px solid rgba(255, 255, 255, 0.66);
  border-bottom: 6px solid rgba(0, 0, 0, 0.33);
  border-right: 6px solid rgba(0, 0, 0, 0.33);
  background: url(../pages/assets/images/button-background-normal.png) repeat;
  min-height: 50px;
  cursor: pointer;
}

.button-link {
  text-decoration: none;
  align-self: center;
  text-align: center;
  width: 80%;
  // height:80%;
  margin: auto;
}

.buttonText {
  font-size: 20px;
  margin: auto;
  color: colors(button-text);
}

.button:hover {
  background: url(../pages/assets/images/button-background-hover.png);
}

.areaHeader {
  text-align: center;
  background-color: darken(colors(backgroundCraft), 10%);
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: solid 1px darken(colors(backgroundCraft), 20%);
}

.genericText {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}




//_______________________________________________________________________________________________________//

html {
  background-color: colors(back);
  background: url(../pages/assets/images/background.jpg) repeat;
  overflow: scroll;

  body {
    background-color: #fff;
    width: 70%;
    margin: auto;
    margin-top: 2em;

    #mainHeader {
      // display:none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 4.5em;
      padding: 1em 0;
      background: url(../pages/assets/images/header.png) 32px 32px;
      margin: auto;

      #logo {
        position: relative;
        margin: auto;
        justify-content: center;
        top: -2.5em;
      }

      #navbar {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;

        #current {
          background: url(../pages/assets/images/button-background-active.png);
          border: 0;
          min-height: 59px;
        }
      }
    }

    #mainArea {
      //   padding-top:500px;

      display: grid;
      grid-template-columns: 1fr 4fr;

      border-top: 1px solid #000;
      background-color: rgb(199, 118, 181);
      margin: 0;
      padding-bottom: 1em;

      #sideArea {
        background-color: yellow;
        // padding: 100px;
        width: 90%;
        margin: 5vh auto 0;
      }

      #calculatorArea {
        // display:none;
        // background-color: white;
        // padding: 100px;
        width: 80%;
        margin: 5vh auto 0;

        #instructionPanel {
          // display:none;
          background-color: colors(backgroundInstruction);
          border-radius: 0.5em;
          box-shadow: 1px 1px 22px 3px rgba(0, 0, 0, 0.23);
        }

        #itemsToCraftPanel {
          // display:none;
          background-color: colors(backgroundCraft);

          border-radius: 0.5em;
          box-shadow: 1px 1px 22px 3px rgba(0, 0, 0, 0.23);



          .genericText {
            font-size: 25px;
          }

          #addItemButton {
            padding-bottom: 0.5em;
            display:none;

            .button {
              width: 90%;
              margin: auto;
              min-height: 2em;
            }
          }
        }
      }

      .genericText {
        width: 90%;
        margin: auto;
        padding-bottom: 1em;
      }
    }

    footer {
      background-color: orangered;
      padding: 20px 0;
    }
  }
}